/**
 *  Inverted Sections
 */

%inverted-section {
	background-color: $color-dark;
	color: $color-light;

	&:before {
		background-color: rgba(0,0,0,0.25);
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	* {
		z-index: 1;
	}
}

.inverted.section {
	@extend %inverted-section;
}
