/**
 *  Tiles Variables
 *	Author: Scott Thrall
 *	Created January 2016
 *  Last Revision: 2016-01-23
 *
 *  Change Log
 *	2016-01-23:
 *		* created a variables file to keep track of and quickly
 *		  edit tiles and their variations
 */

// structure
$simple-tile-height: 320px;

// animation
$transition-time: 0.22s;
$transition-type: ease-in-out;
$simple-transition-time: 0.12s;
$simple-transition-type: ease-in-out;
$simple-transition-delay: 0.12s;

// colors
$simple-gradient-color: $color-primary;
$flip-background-color: $color-primary;
