/**
 *  Base Card Decoration
 */


// ----- general decoration
.card {
	background-color: $background-color;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	z-index: 0;

	transition: all $transition-time $transition-type;

	&:hover {
		box-shadow: $hover-box-shadow;
		z-index: 1;
	}
}

// ----- image decoration
.card {
	.image {
		padding: $size-small;
	}
}

// ----- content decoration
.card {
	.content {
		padding: $size-medium $size-large;
		text-align: center;
	}
}
